#boton {
  padding-top: 2%;
  padding-bottom: 2%;
  position: center;
  line-height: 2;
  border-style: none;
  border-radius: 10px;
  background-color: #e9967a;
  background: rgb(228, 142, 81);
  color: rgb(226, 220, 220);
}
.form {
  align-self: auto;
  padding-bottom: 10px;
  background-color: aquamarine;
  max-width: 50%;
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;
  @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
  }
  &:focus {
    outline: none;
    border-top-color: rgba(11, 240, 61, 0.1);
  }

  &::placeholder {
    display: none;
    color: transparent;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
.loanForm1111 {
  display: flex;
  border-radius: 10px;
  flex-direction: colum;
  align-self: center;
  max-width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;

  background-color: #ffa07a;
  border-style: none;
}
.loanInput {
  border-style: none;
  border-radius: 10px;
}
.loanModal {
  position: absolute;
  background: rgba(182, 179, 177, 0.034);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50vh;
  height: 50vh;
}
.loanModalMsg {
  border-radius: 10px;
  background-color: aliceblue;
}
