.boton {
  padding-top: 2%;
  padding-bottom: 2%;
  position: center;
  line-height: 2;
  border-style: none;
  border-radius: 10px;
  background-color: #e9967a;
  background: rgb(228, 142, 81);
  color: rgb(226, 220, 220);
}
.loanForm {
  display: flex;
  border-radius: 10px;
  flex-direction: colum;

  max-width: 300px;
  padding-top: 1%;
  padding-bottom: 1%;

  background-color: #ffa07a;
  border-style: none;
}
.loanInput {
  border-style: none;
  border-radius: 10px;
}
.loanModal {
  position: absolute;
  background: rgba(182, 179, 177, 0.034);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50vh;
  height: 50vh;
}
.loanModalMsg {
  border-radius: 10px;
  background-color: aliceblue;
}
