.Nheader :hover {
  background-color: #61dbfb;
  border: none;
  border-radius: 10px;
  color: #d0d3d4;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}
.Nbody :hover {
  background: rgb(15, 180, 158);
  background-color: rgb(16, 132, 136);
  border: none;
  border-radius: 10px;
  color: #d0d3d4;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}
.Nfooter :hover {
  background-color: #c91f82;
  border: none;
  border-radius: 10px;
  color: #d0d3d4;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}
